<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="StudentMapper">
 
 	<!-- insert id=join -->
 	<insert id="joinMember" parameterType="com.choa.member.student.StudentDTO">
 		insert into member (id,pw,name,age,grade,fileName,oriName) 
 		values (#{id},#{pw},#{name},#{age},#{grade},#{fileName},#{oriName})	
 	</insert>
 	
 	<insert id="joinStudent" parameterType="com.choa.member.student.StudentDTO">
 		insert into student (sid,phone,tid) values (#{sid},#{phone},#{tid})	
 	</insert>
 
 </mapper>